///////////////////
////// LOGO //////////
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

///////////////////
////// SEARCH //////////
.search {
  flex: 0 0 40%;

  // centers search icon (nested flex item)
  display: flex;
  align-items: center;
  // makes search input expand from both sides
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;

    // move search icon to be inside of input
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--grey-light-3);
    }

    // change color of placeholder
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--grey-light-4);
    }
  }

  // siblings using adjacent selector
  &__input:focus + &__btn {
    background-color: var(--grey-light-3);
  }

  &__btn {
    border: none;
    background-color: var(--grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    // change color of svg
    fill: var(--grey-dark-3);
  }
}


///////////////////
////// USER NAVIGATION //////////
.user-nav {
  // occupy all space
  align-self: stretch;

  // flex item is a flex container (nested again)
  display: flex;
  align-items: center;

  // all direct children
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    display: flex;
    // align on cross axis (vertically)
    //3rd nested flex header is flex, search is flex, now icon-box is too
    align-items: center;
  }

  & > *:hover {
    background-color: var(--grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--grey-dark-2);
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem; right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

}

///////////////////
////// SIDE NAVIGATION //////////
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;


  @media only screen and (max-width: $bp-large) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: .5rem;

      @media only screen and (max-width: $bp-large) {
        margin-bottom: 0;
      }
    }

    // all nav items occupy same space
    @media only screen and (max-width: $bp-large) {
      flex: 1;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    // same height as list item
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    // transform-origin default is center so effect will grow from center and both sides down
    // width happen in .4s and delay that effect for .2s
    // once the width effect starts then with cubic-bezier makes it start slow then go faster
    // animate back-color for active state
    transition: transform .2s,
                width .4s cubic-bezier(1,0,0,1) .2s,
                background-color .1s;
  }

  &__item:hover::before,
  &__item--active::before {
    // keep active state for one that is open by default (hotel) using modifyer keep same as hover state
    transform: scaleY(1);
    width: 100%;
  }

  // click state back-color a little lighter
  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    position: relative;
    z-index: 1;
    color: var(--grey-light-1);
    text-decoration: none;
    padding: 1.5rem 3rem;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
      justify-content: center;
      padding: 2rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    // color of parent element
    fill: currentColor;
    margin-right: 2rem;
  }

}

//// legal text
.legal {
  font-size: 1.2rem;
  color: var(--grey-light-4);
  text-align: center;
  padding: 2.5rem;

  // remove
  @media only screen and (max-width: $bp-large) {
    display: none;
  }
}

////////////////////////
////// GALLERY
.gallery {
  display: flex;

  &__photo {
    width: 100%;
    // img should always be block to prevent whitespace on bottom
    display: block;
  }
}

/////////////////
//// HOTEL OVERVIEW
.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }

  &__stars {
    // grow and occupy all avaliable space -- will make hotel name and stars in one corner and the rest in the other corner
    //flex: 1;
    // but problem with above is element takes up whole space want space but not element to be that large fixed with margin auto
    margin-right: auto;
    // pefectly vertically center
    display: flex;
  }

  &__icon-location {
    margin-right: .5rem;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary)
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: #fff;
    padding: 0 2rem;
    // override the parent for this element
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
  }

  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;
  }

}

///////////////////
/// BUTTON
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;

  & span {
    margin-left: 3px;
  }

  &:hover {
    color: var(--grey-dark-1);

    span {
      margin-left: 8px;
      transition: margin-left .2s;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

//////////////////
// PARAGRAPH
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}



//////////////////
// LIST
.list {
  margin: 3rem 0;
  list-style: none;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap;

  &__item {
    // instead of using width use this on flex items to seperate them into side by side columns
    flex: 0 0 50%;
    margin-bottom: .7rem;
  }

  &__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;

    //older browsers
    //background-image: url(../img/chevron-thin-right.svg);
    //background-size: cover;

    //newer browsers
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
  }
}


//////////////////
// RECOMMEND
.recommend {
  font-size: 1.3rem;
  color: var(--grey-dark-3);

  display: flex;
  align-items: center;

  &__count {
    margin-right: auto;
  }

  &__friends {
    // keep photos next to each other all the time
    display: flex;
  }

  &__photo {
    // keep img same size with border added
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;

    //overlap images
    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

//////////////////
// REVIEWS
.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  &__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-box {

  }

  &__user-name {
    font-size: 1.2rem;
    margin-bottom: .5rem;

    text-transform: uppercase;
    font-weight: 600;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--grey-dark-3);
  }

  &__rating {
    font-size: 2rem;
    color: var(--color-primary);
    margin-left: auto;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.7rem; left: -.5rem;
    font-size: 20rem;
    line-height: 1;
    color: var(--grey-light-2);
    font-family: sans-serif;
  }

}

/////////////////////
// CALL TO ACTION
.cta {
  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 2.5rem 0;
  }

  &__book-now {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

/////////////////////
// CALL TO ACTION BUTTON
.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & > * {
    // so can use padding
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .3s;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    padding: 2rem 0;
    position: absolute;
    // place on top
    left: 0;
    top: -100%;

  }

  &:hover {
    background-image: linear-gradient(to left, var(--color-primary), var(--color-primary-dark));
  }
  &:hover &__visible {
    transform: translateY(100%);
  }
  &:hover &__invisible {
    // make alternate text front and center
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate infinite;
  }
}




