.header {
  height: 85vh;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8)),
  url(../../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  // x y for each corner going clockwise

  header div {}

  // doesnt work in old firefox so above will be applied else if it works below applies
  @supports (clip-path: polygon(0 0))  or (-webkit-clip-path: polygon(0 0)) {
    -webkit-background-clip: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }

  // dpi = dots per inch 192dpi is the resolution of apple's retina screen -high res often used for reference
  // min-resolution: 192dpi => doesnt work in safari use as on second line 2 means 2x screen
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
          (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
          (min-width: 125em){
    // when res is higher than 192dpi AND <= 600px OR the with is <= 1200
    background-image: linear-gradient(
                    to right bottom,
                    rgba($color-primary-light, 0.8),
                    rgba($color-primary-dark, 0.8)),
    url(../../img/hero.jpg);
    // large img is 2000 x 2000 small is 1200 x 720
  }

  @include respond(phone){
    // change angle on header for phone
    -webkit-background-clip: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo {
    height: 3.5rem;
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__text-box {
    position: absolute;
    //relation to parent element
    top: 40%;
    left: 50%;
    //tranform position no longer to parent element but to element itself
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

