.form {

  &__group:not(:last-child) {
    // give padding between inputs but not the ending one
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    // so has its own wide line
    display: block;
    // animate the border bottom color to next color more slowly
    transition: all .5s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    // to use box-model props like margin above
    display: block;
    transition: all .3s;
  }
  // select adjacent sibling (sibling immediately AFTER what we are selecting)
  // ~ for general sibling and + for immediate following sibling
  // if placeholder is shown then its not in focus so hide it
  &__input:placeholder-shown + &__label{
    // use opacity to animate
    opacity: 0;
    // so not just invsible but actually hidden (cant animate with just hidden so need opacity)
    visibility: hidden;
    // to animate label text to make it look like its coming down from the placeholder text
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    // put side by side with inline-block(which doesnt create line breaks like blocks do)
    display: inline-block;
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    //position text further from btn
    padding-left: 4.5rem;
  }

  &__radio-btn {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    // to make above props work need block and inline to make inline with original btn
    display: inline-block;
    // position exactly over original
    position: absolute;
    left: 0;
    top: -.4rem;

    // for inner dot
    &::after {
      // since using sudo element -- need to specify content prop and display
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      // position in center of larger circle -- can use absolute again (same as parent, and grand-parent is relative)
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      // hide inner dot when not clicked
      opacity: 0;
      // transition opacity from 0 when checked
      transition: opacity .2s;
    }
  }

  // use psudo class of radio btn of checked to check custom btn
  // need to cieling select main input radio btn (not a parent but top level sibling)
  // by selecting sibling then-- using general sibling then-- child of that
  &__radio-input:checked ~&__radio-label &__radio-btn::after {
    opacity: 1;
  }

}









