.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, .6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  // get img and text (all direct children) and skew them in normal position
  // css cant currently have two transforms props applying at same time
  // so have to put this prop in all child elements
  //& > * {
  //  transform: skew(12deg);
  //}

  @include respond(tab-port){
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone){
    transform: skewX(0);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    // shape area around it (the text) first is size then at exactly center horizontally and vertically
    // only works if is floated and has defined height and width
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    //make img a circle
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

    // best way to deal with space for floated element is use transform to add space
    transform: translateX(-3rem) skew(12deg);
    position: relative;

    @include respond(phone){
      transform: translateX(-3rem) skewX(0);
    }
  }

  // flexible img always need width
  &__img {
    // img is inside shape which has height of 15rem so height 100% refers to 15rem
    // not width bkus img is wider than its height so it wont fill circle
    height: 100%;
    //move img more twords center and use scale to zoom 140%
    transform: translateX(-4rem) scale(1.4);
    // fixes strange bugs (this case dimaond skewed image)
    backface-visibility: hidden;
    // slow the zoom effect for hover
    transition: all .5s;
  }

  &__text {
    transform: skew(12deg);

    @include respond(phone){
      transform: skewX(0);
    }
  }
  // intitial state to hidden
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;

    // add to stop sutle shaking at end of text animation
    backface-visibility: hidden;
  }

  //as soon as story is hovered change caption
  &:hover &__caption{
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__img {
    // zoom out image to original state (100%)
    transform: translateX(-4rem) scale(1);
    // blur slightly then darken image a bit with lower than 100% values
    filter: blur(3px) brightness(80%);
  }
}